<<<<<<< HEAD
.video{
  background-color: white;
  margin: 10px;
  float: left;
  height: 315px;
  width: 516px;
  padding: 0 5px;
}

.head{
  font-style: oblique;
  height: 30px;
=======

.tg-container{
  width:1140px;
  display:block;
  margin:0 auto;
>>>>>>> d571906db2cb31d5a8ebd73c0c0b8efeca580f1f
}
